.about_us{
	width:41%;
	height:auto;
	margin:10px auto 10px auto;
}
.about_us ul{
	width:;
	height:auto;
}
.about_item{
	display: block;
	float: left;
	border-right:2px solid #d1d1d1;
}
.about_item a{
	display: block;
	width:auto;
	height:auto;
	margin-left:10px;
	margin-right:10px;
	font-family: "microsoft yahei";
	font-size:12px;
	font-weight: normal;
	color:#666;
}
.about_item a:hover{
	color:#E4393C;
	text-decoration: underline;
}
.item_special{
	border-right:none;
}
.cp_item{
	width:100%;
	height:auto;
}
.cp_item p{
	width:100%;
	height:auto;
	font-size:12px;
	font-family: "microsoft yahei";
	font-weight: normal;
	color:#666;
	text-align: center;
}
.cp_safety{
	display: block;
	width:487px;
	height:57px;
	margin:10px auto 10px auto;
}