.footer{
	width:100%;
	height:240px;
	border-top: 2px solid #d1d1d1;
}
.footer_tab{
	width:200px;
	height:190px;
	display: block;
	float: left;
	margin-top: 20px;
}
.footer_tab_left{
	width:24px;
	height:190px;
	float: left;
	margin-left: 13px;
	padding-top: 20px
}
.ft_icon{
	width:24px;
	height:24px;
}
.footer_tab_right{
	width:140px;
	height:190px;
	float: left;
	margin-left: 20px;
	padding-top:20px;
	border-right: 2px dotted #d1d1d1;
}
.ft_head{
	display: block;
	height:24px;
	font-family: "microsoft yahei";
	font-size:16px;
	font-weight:700;
	color:#c22121;
	margin-bottom: 15px;
}
.ft_item{
	display: block;
	height:20px;
	line-height: 20px;
	font-size:12px;
	font-weight: normal;
	color:#1c1c1d;
}
.ft_item a{
	display: block;
	height:20px;
	line-height: 20px;
	font-size:12px;
	font-weight: normal;
	color:#1c1c1d;
}
.ft_item a:hover{
	display: block;
	height:20px;
	line-height: 20px;
	font-size:12px;
	font-weight: normal;
	color:#c40000;
	text-decoration: underline;
}
.footer_tab_item{
	margin-top: 20px;
	margin-left:23px;
}
.ft_tel{
	display: block;
	width:160px;
	height:36px;
}
.ft_tel_num{
	font-family: "microsoft yahei";
	font-weight: 700;
	font-size: 22px;
	color:#ff6600;
	margin-top: 10px;
}
.ft_service_time{
	color:#999;
}