.shortcut{
	width:100%;
	height:30px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
}
.w{
	width:1210px;
	height:auto;
	margin:0 auto 0 auto;
}
.wrap{
	width:100%;
	height:30px;
}

/*左侧登录区域*/
.login_area{
	width:30%;
	height:30px;
	float: left;
	list-style: none;
}
.login_area li{
	height:30px;
	float: left;
	display: block;
}
.login_area li b{
	width:16px;
	height:16px;
	display: block;
	margin:7px 5px 7px 5px;
	background: url("../img/header/shortcut-login-16-16.png") no-repeat;
}
.login_area li p{
	height:12px;
	line-height: 30px;
}
.login_area li a{
	height:12px;
	line-height: 30px;
	color:#777777;
	text-decoration: none;
}
.login_area li a:hover{
	color:#e3383b;
	text-decoration: underline;
}
.login_area li .register{
	margin-left: 5px;
}

/*右侧用户信息*/
.user_info{
	width:35%;
	height:30px;
	float: right;
	list-style: none;
}
.user_info li{
	height:30px;
	float: left;
	display: block;
}
.user_info li a{
	width:78px;
	height:14px;
	color:#777777;
	display: block;
	text-decoration: none;
	border-right: 1px solid #ddd;
	margin:7px 0 7px 20px;
}
.user_info li .addToFav{
	width:52px;
	float: left;
	border: none;
	margin-left: 0;
}
.user_info li a:hover{
	color:#e3383b;
	text-decoration: underline;
}
.user_info li b{
	display: block;
	float: left;
	width:16px;
	height:16px;
	margin:7px 5px 7px 20px;
	background: url("../img/header/shortcut-star-16-16.png") no-repeat;
}

/*商城图标*/
.header{
	height:90px;
}
.header .w{
	height:60px;
	padding:15px 0 15px 0;
}
.logo{
	width:20%;
	height:60px;
	float: left;
	margin-left: 5px;
}
.logo_home{
	width:100%;
	height:60px;
	display: block;
	border: none;
}
.logo_home img{
	width:198px;
	height:55px;
	display: block;
	border:none;
	margin:2px auto 3px 0;
}

/*搜索框*/
.search{
	width:636px;
	height:61px;
	float: left;
	margin-left: 80px;
	margin-top: 5px;

}
.search_box{
	width:494px;
	height:30px;
	border:3px solid #efefef;
}
.search_input{
	width:406px;
	height:20px;
	padding:5px;
	border:none;
	outline:none;
	font-size:14px;
}
.search_button{
	width:75px;
	height:30px;
	border:none;
	outline:none;
	font-size:14px;
	font-weight: 700;
	color:#fff;
	background-color: #e3383b;
}
.search_button:hover{
	background-color: #e5404d;
}
/*热门搜索词*/
.hotwords{
	height: 18px;
	color: #999;
	overflow: hidden;
	margin-top: 5px;
}
.hotwords strong{
	float: left;
    font-weight: 400;
}
.hotwords a{
	float: left;
	margin-right: 10px;
	color: #999;
	text-decoration: none;
}
.hotwords a:hover{
	color: #e3383b;
	text-decoration: underline;
}

/*通用导航栏*/
.nav{
	width:100%;
	height:40px;
	overflow: hidden;
}
.nav .w{
	background-color: #c40000;
	height:40px;
}
.nav ul li{
	width:auto;
	float: left;
	display: block;
	border:none;
}
.nav ul li:hover{
	background-color: #e3383b;
}
.nav ul li a{
	display: block;
	width:auto;
	height:40px;
	margin:auto 20px auto 20px;
	text-decoration: none;
	font-size: 14px;
	line-height: 40px;
	font-family: “微软雅黑”;
	font-weight: 700;
	color:#fff;
	text-align: center;
}
/*面包导航*/
.bread_crumb{
	width:100%;
	height:auto;
	margin-top: 10px;
	margin-left:5px;
	margin-bottom: 10px;
}
.bread_crumb .w a{
	color: #666;
	text-decoration: none;
}
.bread_crumb .w a:hover{
	color: #c40000;
	text-decoration: underline;
}
.bread_crumb .w strong a{
	display: inline;
	font-weight: 700;
	line-height: 20px;
	font-size: 18px;
	font-family: "microsoft yahei";
}
