.buy_process{
	width:1008px;
	height:auto;
	border:solid #c7c7c7 1px;
	margin:0 auto;
	margin-bottom:40px;
	padding-bottom:10px;
}
.process_name{
	width:1005px;
	height: 40px;
	margin-left:100px;
	margin-top:30px;
}
.process_name li{
	float: left;
	color:#797979;
	font-size:12px;
	font-weight: 700;
}
.process_name li.process_01{
	margin-right:193px;
}
.process_name li.process_02{
	margin-right:164px;
}
.process_name li.process_03{
	margin-right: 147px;
}
.process_name li.isPass{
	color:#008a44;
}
.process_name li.isPassing{
	color:#c40000;
}

.process_pic{
	display: block;
	margin:0 auto;
}

/*表头*/
.table_head{
	width:800px;
	height: 20px;
	margin:70px 0 0 107px;
	border-bottom:solid #b2d1ff 2px;
}
.table_head li{
	text-align: center;
	float: left;
	color:#999;
	height: 20px;
}
.table_head li.head_1{
	width:40px;
}
.table_head li.head_1 input{
	margin-top:2px;
}
.table_head li.head_select{
	width:40px;
}
.table_head li.head_product{
	width:420px;
}
.table_head li.head_price{
	width:100px;
}
.table_head li.head_num{
	width:100px;
}
.table_head li.head_operation{
	width:100px;
}
/*商品项*/
.table_list{
	width:800px;
	height: 90px;
	margin:0 0 0 107px;
	border-bottom:solid #b2d1ff 1px;
	background: #fbfcff;
	overflow: hidden;
}
.table_list li{
	text-align: center;
	float: left;
}
.table_list li.list_1{
	width:40px;
	margin-top:38px;
}
.table_list li.list_pic{
	width:50px;
	margin-top:18px;
}
.list_pic img{
	border:solid #e9e9e9 1px;
}
.table_list li.list_product{
	width:410px;
	text-align: left;
}
.table_list li.list_price{
	width:100px;
	color:#c40000;
}
.table_list li.list_num{
	width:100px;
	height: 58px;
	padding-top: 32px;
}
.table_list li.list_operation{
	width:100px;
}
.list_price p{
	color:#c40000;
	font-size:14px;
	margin-top:35px;
	font-weight:700;
}
.list_product a{
	display: block;
	width:160px;
	height: 40px;
	float: left;
	overflow: hidden;
	margin:26px 0 0 17px;
	color:#666;
}
.list_product a:hover{
	color:#c40000;
	text-decoration: underline;
}
.list_product p{
	display:block;
	width:200px;
	height: 40px;
	margin:26px 0 0 10px;
	float: left;
	color:#666;
	overflow: hidden;
	white-space: nowrap;;
	-ms-text-overflow: ellipsis;
}
.list_product p span{
	color:#a599b2;
}
.list_operation a{
	display: block;
	color:#1a88cd;
	text-decoration: underline;
	margin-top:35px;
}

/*费用总额*/
.whole_price{
	width:800px;
	height: 27px;
	margin: 10px auto;
	color:#7d7d7d;
	border-bottom:dashed #ccc 1px;
	position: relative;
	left: 2px;
}
.whole_price p{
	float: right;

}
.whole_price p.price_num{
	width:100px;
	text-align: right;
}

/*购物按钮*/
.btn_box{
	width:800px;
	height: 70px;
	margin:0 auto;
}
.go_on_buying{
	padding:10px 30px 10px 30px;
	display: block;
	border:solid #e8e8e8 1px;
	background: #f8f8f8;
	float: left;
	color: #545454;
}
.go_to_pay{
	font-size: 16px;
	font-weight: 700;
	padding:8px 28px 7px 28px;
	display: block;
	background: #e3383b;
	float:right;
	color: #fff;
	border-radius:5px;
}
.go_to_pay:hover{
	background:#c40000;
}
.min{
	display:block;
	width:17px;
	height:22px;
	float: left;
	margin-left: 8px;
}
.num{
	display: block;
	width:40px;
	height:20px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}
.add{
	display: block;
	width: 17px;
	height: 22px;
	float: left;
}