.main_body{
	background: url(../img/test-backgroundSide-1210-800.jpg) no-repeat;
	background-color:#fdeaa8;
}
/*头部焦点图*/
.focus{
	width:100%;
	height:auto;
	border:none;
	display: block;
}
.focus_img{
	display: block;
	width:980px;
	height:auto;
	margin:0 auto;
}

/*商家特卖场列表*/
.shop_onsale{
	width:1070px;
	height:auto;
	margin:0 auto 60px auto;
	padding-bottom:15px;
	border-bottom:1px solid #c9c9c9;
	background-color: #fff;
}
.onsale_list{
	width:760px;
	height:auto;
	float: left;
}
.shop_display{
	width:305px;
	height:1612px;
	background-color:#ff6600;
	margin-top:10px;
	float: left;
}
.onsale_item{
	display: block;
	width:750px;
	height:220px;
	margin: 10px 3px 5px auto;
	border: 1px solid #e9e7ea;
	border: 1px solid #e7e4e7\9;
	box-shadow: 0 0 3px #e0dfe0;
	position: relative;
}
.onsale_item:hover{
	border: 1px solid #b98440;
	border: 1px solid #ffeeaa;
	box-shadow: 0 0 3px #ffeeaa;
}
.item_info{
	width:200px;
	height:100px;
	margin:120px 0 auto 12px;
	background-color: #fff;
	z-index: 10;
	position: relative;
}
.item_discount{
	height:auto;
	width:100%;
	overflow: hidden;
}
.s_name{
	font-family: "microsoft yahei";
	font-size:14px;
	font-weight: 700;
	color:#1c1c1c;
	width:100%;
	height:auto;
	text-align: center;
}
.s_off{
	width:100%;
	height:auto;
	color:#3d3d3d;
	margin-top: 0;
}
.sale_count{
	width:50%;
	height:30px;
	display: inline-block;
	font-size: 26px;
	color: #c40000;
	padding-right: 2px;
	text-align: right;
}
.s_offtime{
	width:100%;
	height:auto;
	color:#666;
	line-height:18px;
	margin-top:12px;
}
.s_timeicon{
	display: block;
	width:18px;
	height:18px;
	float: left;
	margin:0 10px auto 30px;
	background: url("../img/shortcut-clock-18-18.png") no-repeat;
}
.seller_info{
	width:745px;
	height:auto;
	position: absolute;
	top:0;
	left:0;
	z-index:0;
}
.s_but{
	width:750px;
	height:219px;
}
.item_pic{
	width:750px;
	height:220px;
	display: block;
	outline: none;
	border: none;
}