.buy_process{
	width:1008px;
	height:auto;
	border:solid #c7c7c7 1px;
	margin:0 auto;
	margin-bottom:40px;
	padding-bottom:10px;
}
.process_name{
	width:1005px;
	height: 40px;
	margin-left:100px;
	margin-top:30px;
}
.process_name li{
	float: left;
	color:#797979;
	font-size:12px;
	font-weight: 700;
}
.process_name li.process_01{
	margin-right:193px;
}
.process_name li.process_02{
	margin-right:164px;
}
.process_name li.process_03{
	margin-right: 147px;
}
.process_name li.isPass{
	color:#008a44;
}
.process_name li.isPassing{
	color:#c40000;
}

.process_pic{
	display: block;
	margin:0 auto;
}

.p_title{
	width:100%;
	height:18px;
	text-align: left;
	padding-left:100px;
	margin-top: 30px;
	font-size: 14px;
	font-weight: 700;
}
/*管理我的收货地址开始*/
.address_list{
	width:90%;
	height:100%;
	margin-left: 65px;
}
.address_item{
	display: block;
	float: left;
	width:236px;
	height:106px;
	margin-left: 37px;
	margin-top:30px;
	background:url("../img/address/address-background-hui-236-106.png") no-repeat;
	position: relative;
}
.address_selected{
	display: block;
	float: left;
	width:236px;
	height:106px;
	margin-left: 37px;
	margin-top:30px;
	position: relative;
	background:url("../img/address/address-background-236-106.png") no-repeat;
}
.address_item:hover{
	cursor: pointer;
	background:url("../img/address/address-background-236-106.png") no-repeat;
}
.name{
	font-family: "microsoft yahei";
	font-size:12px;
	color:#1c1c1c;
	width:210px;
	height:12px;
	line-height: 12px;
	text-align: left;
	padding:15px 0 8px 10px;
	margin-left: 6px;
	border-bottom: 1px solid #f1f1f1;
}
.addr_info{
	font-family: "microsoft yahei";
	font-size:12px;
	color:#1c1c1c;
	width:210px;
	line-height: 18px;
	text-align: left;
	padding:10px 0 0 10px;
	margin-left: 6px;
	overflow: hidden;
}
.overlay{
	display: none;
	width:226px;
	height:96px;
	position: absolute;
	top:5px;
	left:5px;
	background: url("../img/address/address-overlay-226-96.png") repeat;
}
.delete{
	display: block;
	height:12px;
	line-height: 14px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color:#fff;
	font-weight: normal;
	position: absolute;
	bottom: 5px;
	left:150px;
	padding-right: 10px;
	border-right:1px solid #fff;
}
.modify{
	display: block;
	height:12px;
	line-height: 14px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color:#fff;
	font-weight: normal;
	position: absolute;
	top: 5px;
	left:195px;
}
.delete:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #ffff00;
}
.modify:hover{
	cursor: pointer;
	text-decoration: underline;
	color:#ffff00;
}
.check_icon{
	display: none;
	width:28px;
	height:28px;
	position: absolute;
	bottom:5px;
	right:5px;
	background: url("../img/shortcut-check-28-28.png") no-repeat;
}
.check_icon_selected{
	display: block;
	width:28px;
	height:28px;
	position: absolute;
	bottom:5px;
	right:5px;
	background: url("../img/shortcut-check-28-28.png") no-repeat;
}
.add_new{
	font-size: 80px;
	width:226px;
	height:96px;
	line-height: 96px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #c9c9c9;
	font-weight: bold;
}
.add_new_overlay{
	display: block;
	font-size: 80px;
	width:226px;
	height:96px;
	line-height: 96px;
	text-align: center;
	color: #c9c9c9;
	font-weight: bold;
	margin-top: 3px;
}
/*管理我的收货地址结束*/
.address_pop{
	width:700px;
	height:300px;
	display: none;
	background: #fff;
	border:8px solid #999999;
}
.pop_head{
	width:700px;
	height:35px;
	background: #e6e6e6;
}
.pop_head p{
	font-weight: 700;
	font-size: 14px;
	color:#1c1c1c;
	line-height: 35px;
	margin-left: 10px;
	float: left;
}
.pop_close{
	display: block;
	width:16px;
	height:16px;
	margin:9px 10px 10px auto;
	float: right;
	background: url("../img/shortcut-close-16-16.png") no-repeat;
}
.pop_addr{
	width:100%;
	height:215px;
}
.pop_form{
	width:100%;
	height:215px;
}
.form_list{
	height:215px;
	width:100%;
}
.form_item{
	width:100%;
	height:35px;
}
.form_title{
	width:80px;
	height:20px;
	text-align: center;
	line-height: 20px;
	margin:7px auto 8px 10px;
	font-size: 12px;
	font-weight: 700;
	float: left;
}
.form_mid{
	width:10px;
	height:20px;
	line-height: 20px;
	margin:7px auto 8px 10px;
	font-size: 14px;
	font-weight: 700;
	float: left;
	color: #c40000;
}
#chooseArea{
	height: 20px;
	float: left;
	margin:7px auto 8px 5px;
}
#province{
	display: block;
	float: left;
	width:120px;
}
#city{
	display: block;
	float: left;
	width: 120px;
	margin-left: 20px;
}
#area{
	display: block;
	float: left;
	width: 120px;
	margin-left: 20px;
}
.post_code{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.form_item_special{
	height:70px;
}
.total_address{
	white-space: wrap;
	width:400px;
	height: 42px;
	float: left;
	outline:none;
	resize: none;
	border:1px solid #999;
	margin:10px auto 0 5px;
	padding:3px 5px 3px 5px;
}
.recieve_name{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.phone_num{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.btn_group{
	width:100%;
	height:30px;
	padding-top: 10px;
}
.sure{
	display: block;
	width: 60px;
	height:25px;
	background: #c40000;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700px;
	font-family: "microsoft yahei";
	color: #fff;
	float: left;
	margin-left: 115px;
}
.cancel{
	display: block;
	width: 60px;
	height:25px;
	background: #ccc;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700px;
	font-family: "microsoft yahei";
	color: #fff;
	float: left;
	margin-left: 20px;
}
.sure:hover{
	background: #e60012;
}
.cancel:hover{
	background: #666;
}
.add_address{
	display: block;
	width:100px;
	height:20px;
	margin-left: 100px;
	margin-top: 20px;
	outline: none;
	border: none;
	float: left;
}
.add_address:hover{
	background: #aaaaaa;
	border: 1px solid #fafafa;
	cursor: pointer;
}
.manage_address{
	display: block;
	width:100px;
	height:20px;
	margin-left: 20px;
	margin-top: 21px;
	outline: none;
	border: none;
	float: left;
}
.manage_address:hover{
	text-decoration: underline;
	color: #c40000;
	cursor: pointer;
}
.p_title_little{
	font-weight: 700;
	font-size: 12px;
	color:#999;
	padding-top: 10px;
	padding-left: 12px;
}
.p_title_head{
	font-weight: 700;
	font-size: 12px;
	color:#666;
	padding-top:20px;
	padding-bottom: 10px;
	padding-left: 100px;
}
.pay_list{
	width:1008px;
	height:auto;
}
.pay_item{
	width:80%;
	height:30px;
	display: block;
	margin-left: 100px;
	padding-top: 10px;
}
#payItem-0{
	background:#fff4d3;
}
.special{
	height:auto;
}
.arrive_pay{
	display: block;
	float: left;	
	height:13px; 
	vertical-align:text-top; 
	margin-top:3px;
}
.pay_item label{
	display: block;
	float: left;
	margin-left: 10px;
}
.pay_complain{
	float: left;
	margin-left: 200px;
}
.pay_explain:hover{
	text-decoration: underline;
	color: #c40000;
	cursor: pointer;
}
.web_pay{
	display: block;
	float: left;
	height:13px; 
	vertical-align:text-top; 
	margin-top:3px;
}
.ali_box{
	width:134px;
	height:44px;
	margin-left: 80px;
}
.alipay{
	display: block;
	width: 130px;
	height:40px;
	border:2px solid #fff;
	outline: none;
}
.alipay:hover{
	display: block;
	width: 130px;
	height:40px;
	border:2px solid #ff6600;
	cursor: pointer;
}
.alipay img{
	display: block;
	border: none;
	outline: none;
}
.bank_list{
	width:90%;
	margin-left: 60px;
}
.bank_item{
	width:134px;
	height:44px;
	display: block;
	float: left;
	border: none;
	margin-left: 20px;
	margin-top: 25px;
}
.bank_img{
	width:130px;
	height:40px;
	display: block;
	border:2px solid #fff;
}
.bank_img:hover{
	border:2px solid #ff6600;
	cursor: pointer;
}
.bank_img img{
	display: block;
	height:40px;
	width: 130px;
	border: none;
}
.web_pay_box{
	background:#fff4d3;
	padding-bottom: 20px;
	display: none;
}
.transport{
	width:80%;
	height:30px;
	margin-top: 10px;
	margin-bottom:20px;
	background:#fff4d3;
	margin-left: 100px;
	padding-top: 10px;
}
.transport_method{
	display: block;
	float: left;
	height:13px;
	vertical-align: text-top;
	margin-top: 3px;
	
}
.shunfeng_label{
	display: block;
	float: left;
	margin-left: 10px;
}
/*购买产品列表开始*/
/*表头*/
.table_head{
	width:800px;
	height: 20px;
	margin:20px 0 0 107px;
	border-bottom:solid #b2d1ff 2px;
}
.table_head li{
	text-align: center;
	float: left;
	color:#999;
	height: 20px;
}
.table_head li.head_1{
	width:40px;
}
.table_head li.head_1 input{
	margin-top:2px;
}
.table_head li.head_select{
	width:40px;
}
.table_head li.head_product{
	width:420px;
}
.table_head li.head_price{
	width:80px;
}
.table_head li.head_num{
	width:50px;
}
.table_head li.head_operation{
	width:100px;
}
/*商品项*/
.table_list{
	width:800px;
	height: 90px;
	margin:0 0 0 107px;
	border-bottom:solid #b2d1ff 1px;
	background: #fbfcff;
	overflow: hidden;
}
.table_list li{
	text-align: center;
	float: left;
}
.table_list li.list_1{
	width:40px;
	margin-top:38px;
}
.table_list li.list_pic{
	width:50px;
	margin-top:18px;
}
.list_pic img{
	border:solid #e9e9e9 1px;
}
.table_list li.list_product{
	width:410px;
	text-align: left;
}
.table_list li.list_price{
	width:80px;
	color:#c40000;
}
.table_list li.list_num{
	width:50px;
	height: 58px;
	padding-top: 32px;
}
.table_list li.list_operation{
	width:100px;
}
.list_price p{
	color:#c40000;
	font-size:14px;
	margin-top:35px;
	font-weight:700;
}
.list_product a{
	display: block;
	width:160px;
	height: 40px;
	float: left;
	overflow: hidden;
	margin:26px 0 0 17px;
	color:#666;
}
.list_product a:hover{
	color:#c40000;
	text-decoration: underline;
	cursor: pointer;
}
.list_product p{
	display:block;
	width:200px;
	height: 40px;
	margin:26px 0 0 10px;
	float: left;
	color:#666;
	overflow: hidden;
	white-space: nowrap;;
	-ms-text-overflow: ellipsis;
}
.list_product p span{
	color:#a599b2;
}
.mt_count{
	margin-top:35px;
}
.mt_total{
	margin-top: 35px;
	font-size: 14px;
	font-weight: 700;
	color: #c40000;
}
.mt_num{
	margin-top: 3px;
}

/*费用总额*/
.whole_price{
	width:800px;
	height: auto;
	margin: 10px auto;
	color:#7d7d7d;
	border-bottom:dashed #ccc 1px;
	position: relative;
	left: 2px;
}
.whole_price p{
	float: right;
}
.whole_price p.price_transport{
	width:100%;
	color:#c40000;
	text-align: right;
	font-weight: 700;
}
.price_transport span{
	color:#919191;
}
.price_total{
	width:100%;
	color:#919191;
	text-align: right;
	font-weight: normal;
	margin-top: 40px;
	margin-right: 10px;
}
.price_total span{
	display: block;
	float: right;
	margin-left: 20px;
	font-size: 20px;
	color: #c40000;
	font-weight: bold;
	position:relative;
	bottom:7px;
}
/*购物按钮*/
.btn_box{
	width:800px;
	height: 70px;
	margin:0 auto;
}
.go_on_buying{
	padding:10px 30px 10px 30px;
	display: block;
	border:solid #e8e8e8 1px;
	background: #f8f8f8;
	float: left;
	color: #545454;
}
.go_to_pay{
	font-size: 16px;
	font-weight: 700;
	padding:8px 28px 7px 28px;
	display: block;
	background: #e3383b;
	float:right;
	color: #fff;
	border-radius:5px;
}
.go_to_pay:hover{
	background:#c40000;
	cursor: pointer;
}
.min{
	display:block;
	width:17px;
	height:22px;
	float: left;
	margin-left: 8px;
}
.num{
	display: block;
	width:40px;
	height:20px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}
.add{
	display: block;
	width: 17px;
	height: 22px;
	float: left;
}
/*购买产品列表结束*/
