.user_center{
	width:998px;
	height:auto;
	margin:15px auto;
	border:solid #d9d9d9 1px;
}
.center_left{
	width:149px;
	height:100%;
	float: left;
}
.center_left ul{
	margin-top: 10px;
}
.center_left ul li{
	text-align: center;
	width:120px;
	height: auto;
	padding:10px 0 0 0;
	margin:0 auto;
}
.center_left ul li a{
	text-decoration: none;
	color: #000;
}
.center_left ul li a.is_select{
	text-decoration: none;
	color: #c40000;
}
.center_left ul li a:hover{
	color:#c40000;
}

.center_right{
	width:848px;
	height:auto;
	float: left;
	border-left:solid #d9d9d9 1px;
	padding-bottom:30px;
}
.table_head{
	width:848px;
	height:17px;
	margin:20px 0 10px 0;
}
.table_head li{
	font-size: 12px;
	color: #000;
	float: left;
	padding: 0 29px 0 11px;
	border-left:solid #d9d9d9 1px;
}
.table_head li.product_head_li{
	border:none;
	padding-right:140px;
	padding-left:35px;
}
.table_head li.product_head_li1{
	padding-right:49px;
}
.table_head li.product_head_li2{
	padding-right:28px;
}

.table_list_box{
	width:810px;
	height:auto;
	overflow: hidden;
	margin:0 auto;
	margin-bottom:18px;
}
.table_list{
	width:810px;
	height:auto;
	background: #f8f8f8;
	border-bottom:solid #dcdcdc 1px;
}
.table_list li{
	float: left;
}
.table_list li div{
	margin-top:11px;
	margin-left:13px;
	margin-bottom:17px;
}
.product_list_li{
	width:204px;
	height:auto;
}
.product_list_li1{
	width:97px;
	height:60px;
}
.product_list_li2{
	width:77px;
	height: 60px;
}
.product_list_li3{
	width:88px;
	height:auto;
}
.product_list_li3 div{
	width:75px;
	height:39px;
}
.product_list_li3_2{
	width:88px;
	height: 60px;
}
.product_list_li4{
	width:88px;
	height: 60px;
}
.product_list_li5{
	width:88px;
	height: 60px;
}
.product_list_li6{
	width:80px;
	height: 60px;
}
/* li-detail*/
.product_list_li div img{
	margin-right:7px;
	float: left;
}
.product_name{
	display: block;
	width:130px;
	height:35px;
	float: left;
	color:#000;
	text-decoration: none;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:
}
.product_name:hover{
	text-decoration:underline;
	color:red;
}
.product_list_li6 div a{
	color:#005ea7;
}
.product_list_li6 div a:hover{
	color:red;
}

/*page*/
.change_page{
	width:830px;
	height:30px;
}
.change_page a{
	width:60px;
	height: 28px;
	display: block;
	line-height: 28px;
	color:#666;
}
.change_page a:hover{
	color:red;
}
.down{
	float:right;
	width:60px;
	height: 28px;
	text-align: center;
	border:solid #ccc 1px;
	border-radius: 7px;
}
.change_page span{
	float:right;
	line-height: 28px;
	text-align: center;
	width:30px;
	height: 20px;
}
.up{
	float:right;
	width:60px;
	height: 28px;
	text-align: center;
	border:solid #ccc 1px;
	border-radius: 7px;
}
.disable_btn{
	float:right;
	width:60px;
	height: 28px;
	text-align: center;
	border:solid #ccc 1px;
	border-radius: 7px;
}
.disable_btn a{
	color:#ccc;
}
.disable_btn a:hover{
	color:#ccc;
}

/*function related*/
.address{
	display:block;
}
.order{
	display: none;
}
/*管理我的收货地址开始*/
.address_list{
	width:100%;
	height:100%;
}
.address_item{
	display: block;
	float: left;
	width:236px;
	height:106px;
	margin-left: 37px;
	margin-top:30px;
	background:url("../img/address/address-background-hui-236-106.png") no-repeat;
	position: relative;
}
.address_item:hover{
	background:url("../img/address/address-background-236-106.png") no-repeat;
}
.name{
	font-family: "microsoft yahei";
	font-size:12px;
	color:#1c1c1c;
	width:210px;
	height:12px;
	line-height: 12px;
	text-align: left;
	padding:15px 0 8px 10px;
	margin-left: 6px;
	border-bottom: 1px solid #f1f1f1;
}
.addr_info{
	font-family: "microsoft yahei";
	font-size:12px;
	color:#1c1c1c;
	width:210px;
	line-height: 18px;
	text-align: left;
	padding:10px 0 0 10px;
	margin-left: 6px;
	overflow: hidden;
}
.overlay{
	display: none;
	width:226px;
	height:96px;
	position: absolute;
	top:5px;
	left:5px;
	background: url("../img/address/address-overlay-226-96.png") repeat;
}
.delete{
	display: block;
	height:12px;
	line-height: 14px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color:#fff;
	font-weight: normal;
	position: absolute;
	bottom: 5px;
	left:150px;
	padding-right: 10px;
	border-right:1px solid #fff;
}
.modify{
	display: block;
	height:12px;
	line-height: 14px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color:#fff;
	font-weight: normal;
	position: absolute;
	bottom: 5px;
	left:195px;
}
.delete:hover{
	text-decoration: underline;
	color: #ffff00;
}
.modify:hover{
	text-decoration: underline;
	color:#ffff00;
}
.add_new{
	font-size: 80px;
	width:226px;
	height:96px;
	line-height: 96px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #c9c9c9;
	font-weight: bold;
}
.add_new_overlay{
	display: block;
	font-size: 80px;
	width:226px;
	height:96px;
	line-height: 96px;
	text-align: center;
	color: #c9c9c9;
	font-weight: bold;
	margin-top: 3px;
}
/*管理我的收货地址结束*/
.address_pop{
	width:700px;
	height:300px;
	background: #fff;
	border:8px solid #999999;
	display: none;
}
.pop_head{
	width:700px;
	height:35px;
	background: #e6e6e6;
}
.pop_head p{
	font-weight: 700;
	font-size: 14px;
	color:#1c1c1c;
	line-height: 35px;
	margin-left: 10px;
	float: left;
}
.pop_close{
	display: block;
	width:16px;
	height:16px;
	margin:9px 10px 10px auto;
	float: right;
	background: url("../img/shortcut-close-16-16.png") no-repeat;
}
.pop_addr{
	width:100%;
	height:215px;
}
.pop_form{
	width:100%;
	height:215px;
}
.form_list{
	height:215px;
	width:100%;
}
.form_item{
	width:100%;
	height:35px;
}
.form_title{
	width:80px;
	height:20px;
	text-align: center;
	line-height: 20px;
	margin:7px auto 8px 10px;
	font-size: 12px;
	font-weight: 700;
	float: left;
}
.form_mid{
	width:10px;
	height:20px;
	line-height: 20px;
	margin:7px auto 8px 10px;
	font-size: 14px;
	font-weight: 700;
	float: left;
	color: #c40000;
}
#chooseArea{
	height: 20px;
	float: left;
	margin:7px auto 8px 5px;
}
#province{
	display: block;
	float: left;
	width:120px;
}
#city{
	display: block;
	float: left;
	width: 120px;
	margin-left: 20px;
}
#area{
	display: block;
	float: left;
	width: 120px;
	margin-left: 20px;
}
.post_code{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.form_item_special{
	height:70px;
}
.total_address{
	white-space: wrap;
	width:400px;
	height: 42px;
	float: left;
	outline:none;
	resize: none;
	border:1px solid #999;
	margin:10px auto 0 5px;
	padding:3px 5px 3px 5px;
}
.recieve_name{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.phone_num{
	width:113px;
	height: 20px;
	float: left;
	outline:none;
	border:1px solid #999;
	margin:7px auto 6px 5px;
	padding-left: 5px;
}
.btn_group{
	width:100%;
	height:30px;
	padding-top: 10px;
}
.sure{
	display: block;
	width: 60px;
	height:25px;
	background: #c40000;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700px;
	font-family: "microsoft yahei";
	color: #fff;
	float: left;
	margin-left: 115px;
}
.cancel{
	display: block;
	width: 60px;
	height:25px;
	background: #ccc;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700px;
	font-family: "microsoft yahei";
	color: #fff;
	float: left;
	margin-left: 20px;
}
.sure:hover{
	background: #e60012;
}
.cancel:hover{
	background: #666;
}
.product_list_li span.red_word{
	font-weight: 700;
	color:#c40000;
}